body{
  background-color:#202020;
  color:#ffffff;
  font-family:roboto;
}
h3{
  text-align:center;
}
ul{
  list-style:none;
}
a{
  color:#ffffff;
  text-decoration:none;
}
/*Media queries for Iphones and phone*/
@media (max-device-width:480px){
.about{
  font-size:14px;
  margin:20px;
}
.div-1,.div-2, .div-3, .div-4{
  margin:0 auto;
  }
  .list-title{
    width:px;
    text-align:center;
  }
.div-1 ul, .div-2 ul, .div-3 ul, .div-4 ul{
  width:px;
  margin:0 auto;
  }
  .div-1 li, .div-2 li, .div-3 li, .div-4 li{
    text-align:center;
    font-size:14px;
    line-height:16px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .border-bottom, .border-bottom-long{
    border-bottom:2px solid #CBA135;
    margin:0 auto;
    position:relative;
    bottom:20px;
  }
  .border-bottom{
    width:60px;
  }
  .border-bottom-long{
    width:90px;
  }
  footer{
    margin:20px auto;
    text-align:center;
    font-size:12px;
  }
  hr{
    margin:0 auto;

  }
}
/*Media Querries for Ipads */
@media (max-device-width:810px){
  .about{
    font-size:14px;
    margin:20px;
  }
  .bar-1{
    color:#CBA135;
  }
  .div-1{
    display:flex;
    justify-content:center;
  }
  .div-1 li{
    padding-bottom:5px;
  }
}
