body{
  background-color:#202020;
  color:#ffffff;
  font-family:roboto;
}
h3{
  text-align:center;
}
ul{
  list-style:none;
}
a{
  color:#ffffff;
  text-decoration:none;
}
.bar-1,.bar-2{
  color:#CBA135;
  height:10px;
  background-color:#CBA135;
}
/*Media queries for Iphones and phone*/
@media (max-device-width:480px){
.about{
  font-size:14px;
  margin:20px;
}
.div-1,.div-2, .div-3, .div-4{
  margin:0 auto;
  }
.list-title{
  text-align:center;
  }
.div-1 ul, .div-2 ul, .div-3 ul, .div-4 ul{
  margin:0 auto;
  }
  .div-1 li, .div-2 li, .div-3 li, .div-4 li{
    text-align:center;
    font-size:14px;
    line-height:16px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .border-bottom, .border-bottom-long{
    border-bottom:2px solid #CBA135;
    margin:0 auto;
    position:relative;
    bottom:20px;
  }
  .border-bottom{
    width:60px;
  }
  .border-bottom-long{
    width:90px;
  }
  footer{
    margin:20px auto;
    text-align:center;
    font-size:12px;
  }
  hr{
    margin:0 auto;

  }
}
/*Tablets and Ipad devices*/

@media only screen and (min-device-width:768px) and (max-device-width:1024px){
  .about{
    font-size:14px;
    margin:20px;
    padding-left:20px;
    padding-right:20px;
  }
  .about p{
    text-align:justify;
  }
  .bar-1,.bar-2{
    margin-left:40px;
    margin-right:40px;
  }
  .div-1,.div-2,.div-3,.div-4,footer{
    display:flex;
    justify-content:center;
    flex-direction:row;
  }
  .div-1 ul, .div-2 ul, .div-3 ul, .div-4 ul{
    margin:50px;
    padding:0;
    flex:1px;
  }
  .div-1 li,.div-2 li, .div-3 li, .div-4 li{
    padding-bottom:15px;
  }
  footer{
    font-size:12px;
  }
}
